.title {
  font-size: 3rem;
  color: #67595e;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.title::after {
  content: "";
  display: block;
  width: 13%;
  height: 0.05rem;
  background: #67595e;
  margin: 1rem auto 2rem;
}
