.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.languages {
  flex: 50%;
  padding: 1rem;
}

.languages p {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.title {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--type-second);
}

.title h3 {
  margin-left: 1rem;
  align-self: center;
}
