.slider {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #67595e;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.rightArrow:hover {
  color: #77676c;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #67595e;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow:hover {
  color: #77676c;
}

.inactive {
  opacity: 0;
  transition-duration: 1s ease;
}

.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media (max-width: 40rem) {

  .slider {
    height: 40vh;
  }

  .image {
    width: 13rem;
    height: 13rem;
  }

  .leftArrow {
    top: 40%;
    left: 10px;
  }

  .rightArrow {
    top: 40%;
    right: 10px;
  }
}